*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.coffee          text
*.css             text
*.htm             text diff=html
*.html            text diff=html
*.inc             text
*.ini             text
*.js              text diff=js
*.json            text
*.jsx             text
*.less            text
*.ls              text
*.map             text -diff
